<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Chat Application with Node.js, Socket.IO and AngularJS</title>
	<meta name="generator" content="Bootply">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="./styles/bootstrap.min.css" rel="stylesheet">
	<link href="./styles/style.css" type="text/css" rel="stylesheet">
</head>

<body cz-shortcut-listen="true" ng-controller='AppCtrl'>
	<i class="fa fa-spin fa-refresh fa-5x" id="loader"></i>
	<div class="container ng-scope">
	<h2>Node.js, Socket.IO and AngularJS</h2>
		<hr>
		<div class="row">
		<div class="col-lg-4" id="chatbar" >
				<div class="form-group" id="namediv" ng-show="namesdiv">
					<label for="exampleInputEmail1">Your Name</label>
					<input type="text" ng-model="username" class="form-control" id="create_room_email" placeholder="Enter Name" />
                        <button type="submit" id="create1" ng-click="createRoom(username)" class="btn btn-default">Submit name</button>
                        <button type="submit" id="create2" ng-click="createRoom(create.username='Random name')" class="btn btn-default">Random name</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
            <div class="col-lg-8" id="chatbox"> <!-- NOTE: display: none in css -->
				<div id="userList" style="display: block; overflow-y: scroll; position: absolute; top: 0; right:0; bottom: 0; left: 0; height: 500px;">										
					<div ng-repeat="user in users" class="col-sm-12 ng-scope">
					<div id="top">
					</div>
						<div class="row" ng-if="treeid === null || (user.treeid === treeid)">
							<div class="col-xs-push-2">
								<img ng-src="{{user.image}}" class="img-thumbnail img-responsive img-circle pull-left " style="width:70px; ">
								<button type="submit" class="btn btn-default pull-right btn-sm" style="position:absolute; z-index: 1; margin-left: -22px; margin-top: 0px; border-radius: 45px;" id="create"
								ng-click="changeTreeId(user)">Reply</button>
							</div>
							<div class="col-xs-10">
								<div class="panel panel-default">                                                                    
									<div class="panel-body ng-binding"  style="border-style: solid; border-width: 1px 1px 1px 15px; border-radius: 1px 1px 1px 10px; border-color: black black black {{user.treecolor}}">
                                        <div id="treeid"><!--{{user.treeid}}--></div>
                                        <!-- <div id="treeid">{{user.treecolor}}</div> -->
										<div id={{user._id}}>id div {{user._id}}</div>
                                        <strong>{{user.username}}</strong> : <br> {{user.message}} <br>
								<span class="label label-info ng-binding ">{{user.date | date: 'h:mma'}} </span>
                                        <div ng-if="user.username"> <div ng-if="user.username === currentUser && !user.deleted">
                                            <button type="submit" class="btn btn-default btn-sm" style="position:absolute; z-index: 1; margin-left: 442px; margin-top: -50px;" id="edit "
												ng-click="editForm = true; selectedMessage = user.message;">Edit</button>
                                            <button type="submit" class="btn btn-default pull-right btn-sm" style="position:absolute; z-index: 1; margin-left: 489px; margin-top: -50px;" id="create"
												ng-click="deleteConfirmation = true">Delete</button>
                                                        
                                <div class="form-group" ng-show="editForm">
                                    <!-- <input type="text" ng-model="selectedMessage" style="position:absolute; z-index: 1; margin-left: 112px; margin-top: -55px; width:300px; border: 0;" id="edit"> -->
                             
                                        <button type="submit " id="create" ng-click="editMessage(selectedMessage, user); user.message = selectedMessage; editForm = false;" class="btn btn-default btn-xs"
                                                style="position:absolute; z-index: 1; margin-left: 455px; margin-top: -19px;">Yes</button>
                                        <button type="submit " id="create" ng-click="editForm = false" class="btn btn-default btn-xs"
                                                style="position:absolute; z-index: 1; margin-left: 488px; margin-top: -19px;">No</button>                                                
                                                <textarea id="txtArea" ng-model="selectedMessage" rows="4" cols="70" style="position:relative; z-index: 1; margin-top: 6px;"></textarea>
				</div>
                                                        
                                <div class="form-group" ng-show="deleteConfirmation">
                                        <button type="submit" id="create " ng-click="deleteMessage(user, user._id)" class="btn btn-default btn-xs"
                                                style="position:absolute; z-index: 1; margin-left: 508px; margin-top: -15px;">Yes</button>
                                        <button type="submit" id="create " ng-click="deleteConfirmation = false" class="btn btn-default btn-xs"
                                                style="position:absolute; z-index: 1; margin-left: 542px; margin-top: -15px;">No</button>
								</div></div>              
                                                  
				<div ng-if="user.last">
				<div id="bottomDiv" style="position: absolute; bottom:25px; width: 100px; height: 10px;"></div>
				</div>								  
                                        </div>
									</div>
								</div>
							</div>
						</div>						
					</div>
				</div>


				<div class="input-group " style="padding-top: 500px;"><b></b></div>
				<div style="position: relative; top: 70px;">
				<input id="data" type="text" ng-model="message" class="form-control" placeholder="Type your message here">
				<button class="btn btn-primary" id="datasend" type="button" ng-click="doPost(message, treeid)">Send!</button>
				</div>
			</div>
			
	</div>
	</div>	
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="./scripts/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
</body>

</html>