    body {
      background-color: #f6f6f6;
      color: #444;
	  float: left;
	  padding-left: 80px;
    }
	
	#chatbox {
	display: none;
	}
    
    #userList {
      display: none;
	  overflow-y: scroll;
	  position: absolute;
	  top: 0;
	  right:0;
	  bottom: 0;
	  left: 0;
    }
    
    #loader {
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
      top: 40%;
	  display: none;
    }